.advantages__main-title {
  width: 260px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;

  @media ($tablet) {
    font-size: 21px;
    width: auto;
    max-width: 520px;
  }
}

.advantages__main-text {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}

.advantages__title-wrapper {
  position: relative;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 34px;

  @media ($tablet) {
    padding-top: 46px;
    padding-bottom: 52px;
  }

  @media ($desktop) {
    padding-top: 57px;
    padding-bottom: 44px;
  }

  &::after {
    z-index: 1;
    content: "";
    position: absolute;
    height: 37px;
    right: 0;
    left: 0;
    bottom: -16px;
    background: url("../img/advantages-figure.svg") no-repeat bottom center;

    @media ($tablet) {
      display: none;
    }
  }
}

.advantages__list {
  @media ($tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.advantages__item {
  text-align: center;
  background-color: $addition-color;

  &--main {
    width: 100%;
    color: $white;
    background-color: $main-color;
  }

  &--additional {
    box-sizing: border-box;
    padding: 25px 20px 24px;
    border-bottom: 1px solid $border-color;

    @media ($tablet) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 33.33%;
      height: 256px;
    }

    @media ($desktop) {
      width: 400px;
    }
  }

  &--first {
    padding-top: 50px;

    @media ($tablet) {
      padding-top: 0;
    }
  }

  &--second {
    @media ($tablet) {
      padding-top: 0;
      display: block;
    }
  }
}

.advantages__item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main-color;

  @media ($tablet) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.advantages__text-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media ($tablet) {
    box-sizing: border-box;
    width: 33.33%;
  }

  @media ($desktop) {
    width: 400px;
  }
}

.advantages__title {
  font-size: 18px;

  @media ($tablet) {
    font-size: 21px;
    max-width: 180px;
    margin: 42px 0 13px;
  }

  &--additional {
    @media ($tablet) {
      max-width: 150px;
      margin: 0;
      margin-top: 16px;
    }
  }

  &--second {
    margin-top: 39px;

    @media ($tablet) {
      margin-top: 43px;
    }
  }
}

.advantages__number {
  margin-top: 11px;
  font-size: 14px;
  line-height: 21px;

  @media ($tablet) {
    margin: 0 0 21px;
  }

  @media ($desktop) {
    margin: 0 0 25px;
  }

  &--additional {
    @media ($tablet) {
      margin-top: 12px;
    }
  }
}

.advantages__text {
  text-align: center;
  margin-top: 17px;
  font-size: 14px;
  line-height: 21px;

  @media ($tablet) {
    max-width: 190px;
    margin: 0;
    padding: 0;
  }

  @media ($tablet) {
    max-width: 270px;
  }

  &--first {
    padding-bottom: 39px;
  }

  &--second {
    padding-bottom: 35px;
  }

  &--additional {
    max-width: 250px;
    margin: 17px auto 0;

    @media ($tablet) {
      margin: 0;
      width: 176px;
    }

    @media ($desktop) {
      width: 300px;
    }
  }
}

.advantages__br {
  display: none;

  @media ($tablet) {
    display: inline;
  }
}

.advantages__picture {
  @media ($tablet) {
    order: -1;
  }
}

.advantages__img-width {
  @media ($tablet) {
    width: 66.66%;
  }
}

.advantages__img {
  display: block;
  width: 100%;

  @media ($tablet) {
    height: 256px;
  }

  @media ($desktop) {
    width: 800px;
    height: 256px;
  }
}
