.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  padding: 33px 0;

  @media ($tablet) {
    flex-direction: row;
    padding: 0;
    align-items: flex-start;
  }
}

.features__item {
  margin-top: 23px;
  display: flex;
  flex-shrink: 0;
  text-align: left;
  color: $black;
  background-color: $white;

  @media ($tablet) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 33%;
    height: 330px;
    box-sizing: border-box;
    margin-top: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &::before {
    width: 70px;
    flex-shrink: 0;

    @media ($tablet) {
      margin-right: 0;
    }
  }

  &--housing {
    &::before {
      content: "";
      height: 37px;
      background: url("../img/icon-house.svg") no-repeat center;

      @media ($tablet) {
        height: 158px;
        background: url("../img/icon-house-tablet.svg") no-repeat center;
      }
    }
  }

  &--souvenirs {
    @media ($tablet) {
      order: 1;
    }

    &::before {
      content: "";
      height: 38px;
      background: url("../img/icon-gift.svg") no-repeat center;

      @media ($tablet) {
        height: 158px;
        background: url("../img/icon-gift-tablet.svg") no-repeat center;
      }
    }
  }

  &--food {
    &::before {
      content: "";
      height: 35px;
      background: url("../img/icon-burger.svg") no-repeat center;

      @media ($tablet) {
        height: 158px;
        background: url("../img/icon-burger-tablet.svg") no-repeat center;
      }
    }
  }
}

.features__title {
  font-weight: 700;

  @media ($tablet) {
    font-size: 21px;
    text-align: center;
  }
}

.features__text {
  max-width: 200px;
  margin-top: 19px;
  font-size: 14px;
  line-height: 21px;

  @media ($tablet) {
    text-align: center;
  }
}
