.features {
  background-color: $white;
  padding: 24px 0;

  @media ($tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.features__item {
  padding-bottom: 26px;
  padding-left: 70px;
  text-align: left;
  color: $black;
  background-color: $white;

  &:last-child {
    padding-bottom: 0;
  }
}

.features__title {
  font-weight: 700;
}

.features__text {
  margin-top: 22px;
  font-size: 14px;
  line-height: 21px;
}
