.footer {
  padding-top: 39px;
  padding-bottom: 26px;
  text-align: center;

  @media ($tablet) {
    display: flex;
  }
}

.footer__title {
  font-size: 21px;
}

.footer__text {
  font-size: 14px;
}
