.gallery__intro {
  padding: 54px 20px 32px;
  text-align: center;
  border-bottom: 1px solid $border-color;

  @media ($tablet) {
    padding-bottom: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.gallery__title {
  font-size: 18px;
  font-weight: 700;

  @media ($tablet) {
    font-size: 30px;
  }
}

.gallery__text {
  margin-top: 27px;
  font-size: 14px;
  line-height: 24px;
  color: $font-color;

  @media ($tablet) {
    max-width: 445px;
    margin-top: 35px;
  }
}

.gallery__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media ($tablet) {
    padding: 0 60px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  @media ($desktop) {
    padding: 0;
  }
}

.gallery__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 22px 20px 18px;
  font-size: 14px;
  line-height: 24px;
  border-bottom: 1px solid $border-color;

  &:first-child {
    @media ($tablet) {
      width: 100%;
    }
  }

  @media ($tablet) {
    align-items: flex-start;
    width: 324px;
    background: $form-color;
    padding: 0;
  }

  @media ($desktop) {
    position: relative;
    width: 400px;
  }

  &--main {
    width: 100%;
  }
}

.gallery__wrapper {
  @media ($tablet) {
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media ($desktop) {
    position: absolute;
    bottom: 0;
    color: $white;
    background: $player-color;
  }
}

.gallery__post {
  font-weight: 700;

  @media ($tablet) {
    margin-left: 21px;
    margin-top: 9px;
  }
}

.gallery__author {
  text-transform: none;
  color: $font-color;

  @media ($tablet) {
    margin-left: 21px;
  }

  @media ($desktop) {
    color: $white;
  }
}

.gallery__likes {
  margin-top: 15px;
  position: relative;
  margin-left: 32px;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 21px;
    left: -35px;
    background: url("../img/like-icon.svg") no-repeat;

    @media ($desktop) {
      background: url("../img/like-icon-desktop.svg") no-repeat;
    }
  }

  @media ($tablet) {
    margin-top: 21px;
    margin-right: 32px;
  }
}

.gallery__photo {
  width: 100%;
}
