.header {
  text-align: center;
}

.header__nav {
  @media ($desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__toggle {
  display: none;

  &--open {
    display: none;
    position: absolute;
    top: 19px;
    right: 25px;
    cursor: pointer;
    border: none;
    background-color: $opacity;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 4px;
      background-color: $main-color;
      box-shadow: 0 9px 0 0 $main-color, 0 18px 0 0 $main-color;
    }

    @media ($tablet) {
      display: none;
    }
  }

  &--close {
    display: none;
    padding: 0;
    border: 0;

    @media ($tablet) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 9999999;
      width: 22px;
      height: 4px;
      top: 28px;
      right: 20px;
      cursor: pointer;
      border: none;
      background-color: $white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.header__intro {
  padding: 90px 0 85px;
  position: relative;
  text-align: center;
  background: url("../img/back-desktop.jpg") no-repeat center center/cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-desktop@2x.jpg");
  }

  @media ($tablet) {
    padding: 194px 0 165px;
  }

  @media ($desktop) {
    padding: 80px 0 86px;
  }

  &::after {
    content: "";
    position: absolute;
    height: 57px;
    bottom: -1px;
    right: 0;
    left: 0;
    background: url("../img/intro-triangle.svg") center center;
  }
}

.header__second-intro {
  padding: 53px 0 67px;
  position: relative;
  text-align: center;
  background: url("../img/back-second-page.jpg") no-repeat center center/cover;

  @media ($tablet) {
    padding: 150px 0 120px;
  }
}

.header__img {
  vertical-align: top;
}
