.header {
  text-align: center;
}

.header__toggle {
  display: none;
}

.header__intro {
  margin: 0 auto;
  width: 320px;
  height: 398px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  background: url("../img/intro.jpg") no-repeat;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    height: 57px;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("../img/intro-triangle.svg") center center;
  }

  @media ($tablet) {
    width: 768px;
    height: 518px;
    background: url("../img/Intro-tablet.jpg") no-repeat;
  }

  @media ($desktop) {
    width: 1200px;
    background: url("../img/Intro-desktop.jpg") no-repeat;
  }
}

.header__img {
  margin: 0 auto;
}
