.logo {
  height: 56px;
  display: block;
  position: relative;
  right: 0;
  left: -46px;

  @media ($tablet) {
    height: 0;
    left: -52px;
  }
}

.logo__img {
  content: "";
  position: absolute;

  @media ($tablet) {
    z-index: 9999999;
  }
}
