.logo {
  height: 84px;

  @media ($tablet) {
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    position: absolute;
  }
}

.logo__img {
  margin: 0 auto;
  display: block;

  @media ($tablet) {
    width: auto;
    height: auto;
  }
}
