.review__title {
  font-size: 18px;
}

.review__text {
  font-size: 14px;
  line-height: 24px;
  color: $font-color;
}

.review__legend {
  font-weight: 700;
}

.review__label {
  font-size: 14px;
  color: $font-color;
}

.review__input {
  text-transform: none;
  font-weight: 700;
}
