.review {
  padding-top: 36px;
  padding-bottom: 17px;

  @media ($tablet) {
    padding-top: 60px;
  }
}

.review__wrapper {
  @media ($tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.review__title {
  text-align: center;
  font-size: 18px;

  @media ($tablet) {
    font-size: 30px;
  }
}

.review__text {
  padding-bottom: 17px;
  margin-top: 27px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: $font-color;
  border-bottom: 1px solid $border-color;

  @media ($tablet) {
    border: none;
    max-width: 435px;
    margin-top: 32px;
  }
}

.review__main-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  @media ($tablet) {
    padding: 50px 60px 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media ($desktop) {
    padding: 50px 120px 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.review__main-item {
  padding: 20px 20px 23px;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }

  @media ($tablet) {
    padding: 20px 20px 23px 0;
  }

  @media ($tablet) {
    border: none;
  }

  &--name {
    @media ($tablet) {
      box-sizing: border-box;
      width: 50%;
      padding-left: 57px;
      padding-bottom: 0;
    }
  }

  &--impression {
    padding-bottom: 44px;

    @media ($tablet) {
      box-sizing: border-box;
      width: 50%;
      order: -1;
      padding-bottom: 0;
    }
  }

  &--contacts {
    padding-bottom: 25px;

    @media ($tablet) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 0 35px 0;
    }
  }

  &--sight {
    padding-top: 15px;

    @media ($tablet) {
      padding-bottom: 42px;
      padding-right: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &--textarea {
    @media ($tablet) {
      padding-bottom: 50px;
      padding-right: 0;
    }
  }
}

.review__fieldset {
  &--impression {
    overflow: visible;
  }

  &--emotions {
    text-align: center;
  }

  &--contacts {
    @media ($tablet) {
      width: 100%;
    }
  }
}

.review__list {
  &--name {
    margin-top: 21px;
  }

  &--sight {
    @media ($tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media ($desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &--contacts {
    @media ($desktop) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.review__item {
  &--tel {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 58px;
      height: 58px;
      right: 0;
      bottom: 0;
      background: url("../img/icon-tel.svg") no-repeat;
    }
  }

  &--email {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 58px;
      height: 58px;
      right: 0;
      bottom: 0;
      background: url("../img/icon-email.svg") no-repeat;
    }
  }

  &--impression {
    margin-top: 40px;

    @media ($tablet) {
      margin-bottom: 53px;
    }
  }

  &--name {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content 1fr;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media ($desktop) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
    }
  }

  &--sight {
    display: block;
    height: 26px;
    margin-bottom: 54px;

    @media ($tablet) {
      margin-bottom: 62px;

      &:nth-child(even) {
        margin-left: 32px;

        @media ($desktop) {
          margin-left: 0;
        }
      }
    }

    @media ($desktop) {
      height: auto;
      margin-bottom: 0;
      margin-right: 43px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.review__legend {
  text-align: center;
  font-weight: 700;

  @media ($tablet) {
    font-size: 21px;
  }

  &--name {
    @media ($tablet) {
      text-align: left;
      margin-bottom: 30px;
    }
  }

  &--contacts {
    @media ($desktop) {
      margin-bottom: 50px;
    }
  }

  &--impression {
    @media ($tablet) {
      margin-bottom: 31px;
      text-align: left;
    }
  }

  &--sight {
    @media ($tablet) {
      margin-bottom: 21px;
      max-width: 308px;
    }
  }
}

.review__label {
  position: relative;
  font-size: 14px;
  color: $font-color;

  &--name {
    margin-top: 16px;

    @media ($tablet) {
      margin-top: 20px;
    }
  }

  &--impression {
    margin-left: 78px;
  }

  &--sight {
    margin-left: 74px;

    @media ($desktop) {
      display: block;
      padding-bottom: 20px;
    }
  }

  &--contacts {
    margin-top: 16px;
    margin-left: 20px;
    margin-bottom: 8px;

    @media ($tablet) {
      margin-top: 23px;
    }

    @media ($tablet) {
      margin-right: 23px;
      margin-bottom: 15px;
    }
  }

  &--weight {
    font-size: 18px;
    text-transform: none;
    font-weight: 700;
    color: $black;
  }

  &--textarea {
    margin-bottom: 13px;
    font-weight: 700;
    color: $black;
    font-size: 18px;

    @media ($tablet) {
      margin-bottom: 57px;
      font-size: 21px;
    }
  }
}

.review__input {
  height: 58px;
  border: none;
  padding: 0;

  &::placeholder {
    padding: 20px 0 14px 23px;
    text-transform: none;
    font-weight: 700;
    color: $black;
    background-color: $form-color;
  }

  &--name {
    margin-left: 15px;
  }

  &--contacts {
    width: 100%;
    height: 58px;
    background-color: $form-color;

    @media ($desktop) {
      width: 316px;
    }
  }
}

.review__input--impression {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  & + .review__label--impression {
    &::before {
      content: "";
      position: absolute;
      width: 54px;
      height: 54px;
      left: -78px;
      top: -18px;
      background: url("../img/radio-button-off.svg") no-repeat center center;
    }
  }

  &:checked + .review__label--impression {
    &::before {
      background: url("../img/radio-button-on.svg");
    }
  }
}

.review__input--sight {
  position: relative;

  + .review__label--sight {
    &::before {
      content: "";
      position: absolute;
      width: 54px;
      height: 54px;
      left: -80px;
      top: -18px;
      background: url("../img/checkbox-off.svg") no-repeat;
    }
  }

  &:checked + .review__label--sight {
    &::before {
      background: url("../img/checkbox-on.svg");
    }
  }
}

.review__span {
  @media ($desktop) {
    display: none;
  }
}

.review__textarea {
  border: none;
  width: 279px;
  height: 160px;
  background-color: $form-color;

  &::placeholder {
    padding: 11px 20px;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    font-weight: 700;
    color: $black;
  }

  @media ($tablet) {
    width: 648px;
  }

  @media ($desktop) {
    width: 960px;
  }
}

.review__box {
  @media ($tablet) {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.review__button {
  margin-top: 40px;

  @media ($tablet) {
    margin: 0;
    width: 324px;
  }
}

.review__condition {
  display: none;
  font-size: 14px;

  @media ($tablet) {
    display: inline;
  }
}
