.search {
  padding-top: 33px;
  padding-bottom: 49px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media ($tablet) {
    padding-top: 55px;
    padding-bottom: 60px;
  }

  @media ($desktop) {
    padding-bottom: 70px;
  }
}

.search__title {
  font-size: 21px;

  @media ($tablet) {
    font-size: 30px;
  }
}

.search__text {
  max-width: 280px;
  text-align: center;
  margin-top: 21px;
  font-size: 14px;
  line-height: 24px;

  @media ($tablet) {
    max-width: 500px;
    margin-top: 34px;
  }

  @media ($desktop) {
    max-width: 450px;
  }
}

.search__br {
  display: none;

  @media ($tablet) {
    display: inline;
  }
}

.search__link {
  margin: 27px auto 0;

  @media ($tablet) {
    margin-top: 38px;
    width: 458px;
  }
}
