.search {
  padding-top: 33px;
  padding-bottom: 49px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search__title {
  font-size: 21px;
}

.search__text {
  margin-top: 21px;
  font-size: 14px;
  line-height: 24px;
}

.search__link {
  margin: 27px auto 0;
}
