.site-list {
  display: block;
  position: absolute;
  z-index: 99999;
  top: 0;
  width: 100vw;
  text-align: center;
  background-color: $main-color;

  @media ($tablet) {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 7px;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);

    @media ($tablet) {
      display: none;
    }
  }
}

.site-list__item {
  padding-top: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid $site-list-bottom-shadow;
  border-top: 1px solid $site-list-top-shadow;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  @media ($tablet) {
    width: 153px;
    padding: 0;
    border: none;

    &:nth-child(2) {
      margin-right: 167px;

      @media ($desktop) {
        margin-right: 332px;
      }
    }
  }

  @media ($desktop) {
    margin-right: 82px;
  }
}

.site-list__link {
  line-height: 40px;
  font-weight: 700;
  text-decoration: none;
  color: $white;

  @media ($tablet) {
    padding: 16px 0 14px;
    font-size: 14px;
    line-height: 26px;
    color: $black;
  }
}
