.site-list {
  display: none;
  text-align: center;
  background-color: $main-color;

  @media ($tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.site-list__item {
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid $site-list-bottom-shadow;
  border-top: 1px solid $site-list-top-shadow;

  &:first-child {
    border-top: none;
  }
}

.site-list__link {
  line-height: 40px;
  font-weight: 700;
  text-decoration: none;
  color: $white;
}
