.socials {
  margin-top: 33px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media ($tablet) {
    margin: 0;
  }
}

.socials__link {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background: $main-color;
  position: relative;

  &--twitter {
    &::before {
      content: "";
      position: absolute;
      width: 17px;
      height: 15px;
      background: url("../img/icon-twitter.svg") no-repeat;
    }
  }

  &--facebook {
    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 19px;
      background: url("../img/icon-facebook.svg") no-repeat;
    }
  }

  &--youtube {
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 14px;
      background: url("../img/icon-youtube.svg") no-repeat;
    }
  }
}
