.video {
  text-align: center;
  padding-top: 32px;
}

.video__intro {
  padding: 0 27px;
  margin-bottom: 33px;
  text-align: center;
}

.video__text {
  margin-top: 25px;
  font-size: 14px;
  line-height: 24px;
}
