$white: #ffffff;
$black: #000000;
$main-color: #81b3d2;
$addition-color: #eeeeee;
$font-color: #333333;
$form-color: #f2f2f2;
$site-list-bottom-shadow: rgba(1, 1, 1, 0.2);
$site-list-top-shadow: rgba(255, 255, 255, 0.2);
$border-color: #e5e5e5;
$opacity: rgba(205, 214, 219, 0.3);
$player-color: rgba(51, 51, 51, 0.3);
